html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.App {
  min-height: 100%;
  margin-bottom: -50px;
}

.App-header {
  background-color: #222;
  padding: 20px 50px;
  color: white;
}

.form-input {
  width: 20%;
  font-size: 12px;
  padding: 7px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid black;
}

.form-submit {
  padding: 7px;
  font-size: 12px;
  border-radius: 3px;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.App-intro {
  font-size: large;
}


.footer {
  background-color: #222;
  color: white;
  padding: 10px 0px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
}

.footer .link {
  cursor: pointer;
  text-decoration: underline;
}


.user-list {
  padding: 20px 20px 70px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-container {
  width: 200px;
  height: 200px;
  margin: auto;
  cursor: pointer;
}

.user-info {
  padding-top: 10px;
  border-radius: 4px;
}

.user-info:hover {
  background-color: #e9e9e9;
}

.user-page {
  padding-top: 20px;
}

.user-info h2 {
  margin: 5px;
  text-align: center;
}

.user-info .thumbnail {
  display: block;
  width: 100px;
  height: auto;
  margin: 0px auto;
}

.user-details {
  text-align: center;
  padding-top: 30px;
}

.user-profile {
  border: 1px solid #ddd;
  width: 40%;
  margin: 0px auto;
  padding-top: 30px;
  background-color: #efefef;
  -webkit-box-shadow: 4px 4px 2px 1px #ddd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    4px 4px 2px 1px #ddd;  /* Firefox 3.5 - 3.6 */
  box-shadow:         4px 4px 2px 1px #ddd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.user-profile .thumbnail {
  width: 150px;
  height: auto;
}

.centered-text {
  text-align: center;
}

.user-details .redirect {
  cursor: pointer;
}

.user-details .redirect:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {

.App-header {
  text-align: center;
}

.form-input {
  width: 50%;
}

}
